@import "tailwindcss";

@theme {
  --color-eatda-orange: #ff6155;
  --color-gray-800: #19213d;
  --color-gray-700: #353e5c;
  --color-gray-600: #6d758f;
  --color-gray-500: #a1a7bb;
  --color-gray-400: #d7dbe7;
  --color-gray-300: #edeff5;
  --color-gray-200: #f8faff;
  --color-white: #ffffff;
}
